<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito&family=Pacifico&family=Tilt+Neon&family=Unbounded&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/error.css">
    <link rel="shortcut icon" href="media/weather favicon.gif" type="image/png">
</head>

<body>
    <div class="error-container">
        <img src="media/404 error.png" alt="404 error">
        <p>page not found</p>
    </div>
    <script src="https://kit.fontawesome.com/c485021909.js" crossorigin="anonymous"></script>
</body>

</html>