<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forcast</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito&family=Pacifico&family=Tilt+Neon&family=Unbounded&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="main_container">
        {{>display_container}}
        {{>other_container}}
    </div>
    <script src="https://kit.fontawesome.com/c485021909.js" crossorigin="anonymous" defer></script>
</body>

</html>