* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Unbounded', cursive;
}

:root {
    --background-color: rgb(44, 158, 223);
    --gradian-color: rgb(163, 244, 248);
    --selection-color: rgb(255, 0, 170);
    --black-overlay: rgb(0 0 0 / 87%);
}

body{
    height: 100vh;
    background-color: var(--gradian-color);
    background-image: linear-gradient(transparent, var(--background-color));
}

.main_container{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-size: 15px;
    color: white;
    text-align: center;

}

.main_container form{
    display: flex;
    flex-direction: column;
}

.main_container form .input-city{
    position: relative;
}

.main_container form .input-city input{
    width: 100%;
}

.main_container form .input-city label{
    position: relative;
}

.main_container p{
    color: white;
    text-align: center;
    word-wrap: normal;
}