* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Neon', cursive;
    font-family: 'Unbounded', cursive;
}

body{
    overflow: hidden;
}