<div class="display">
    <div class="logo">pralay</div>
    <div class="display_data">
        <div class="temperature">{{temperature}}&deg;C</div>
        <div class="location_time">
            <p class="location">{{localtion}}</p>
            <p class="realtime">{{realtime}}</p>
        </div>
        <div class="cloud_details">
            <img src="./mediaclear.png" alt="">
        </div>
    </div>
</div>