<div class="display">
    <div class="logo">pralay</div>
    <img src="./media/hotair.png" class="background-image">
    <div class="display_data">
        <div class="temperature">{{temperature}}&deg;</div>
        <div class="location_time">
            <p class="location">{{localtion}}</p>
            <p class="realtime">{{realtime}}</p>
        </div>
        <div class="cloud_details">
            <i class="fa-solid fa-clouds"></i>
            <p>{{cloud_status}}</p>
        </div>
    </div>
</div>