<div class="other_data">
    <form action="" method="post">
        <div class="input-city">
            <input type="text" name="city" required>
            <label>enter city</label>
        </div>
        <input type="submit" value="search">
    </form>
</div>


{{!-- 
{
  coord: { lon: 77.2167, lat: 28.6667 },
  weather: [ { id: 721, main: 'Haze', description: 'haze', icon: '50n' } ],
  base: 'stations',
  main: {
    temp: 30.05,
    feels_like: 28.31,
    temp_min: 30.05,
    temp_max: 30.05,
    pressure: 1006,
    humidity: 21
  },
  visibility: 3500,
  wind: { speed: 1.03, deg: 260 },
  clouds: { all: 0 },
  dt: 1683736580,
  sys: {
    type: 1,
    id: 9165,
    country: 'IN',
    sunrise: 1683677033,
    sunset: 1683725477
  },
  timezone: 19800,
  id: 1273294,
  name: 'Delhi',
  cod: 200
}
 --}}